/* general stuff */
body {
    color: #FFF;
}

a,h4 {
    color: inherit;
    text-decoration: inherit;
}

h4 {
    font-size: 28px;
}

h3 {
    font-size: 28px;
}
/* 
.colored-title {
    color: #da5d13;
} */

.d-flex {
    justify-content: space-evenly;
}

.flex-row-reverse {
    justify-content: unset;
}

.d-flex > * {
    align-self: center;
}

.o-text {
    color: #da5d13;
    font-size: 18px;
}

.h-line {
    height: 2px;
    margin: 0;
    background-color: #da5d13;
    max-width: 500px;
}

/* TODO */
.v-line-center {
    width: 2px;
    max-height: 90%;
    height: 300px;
    padding: 0;
    margin: 0;
    margin-top: 50px;
    background-color: #da5d13;
    position: absolute;
    left: 52%;
}

.h-line-small {
    height: 2px;
    margin: 0 auto 15px;
    background-color: #da5d13;
    max-width: 250px;
}

/* Navbar */
.navbar-title {
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
}

.header {
    background-color: #021630;
    position: fixed!important;
    min-height: 70px;
    width: 100%;
    z-index: 999999;
    border-bottom: #da5d13 2px solid;
    color: #FFF;
}

.nav-link {
    color: #FFF;
    padding-left: 20px;
}

.nav-link:hover {
    color: #FFF;
}

.navbar-toggler {
    margin-right: 20px;
    border-color: rgba(255, 255, 255, 0.85);
    color: rgba(255, 255, 255, 0);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.85%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.nav-list-container {
    justify-content: end;
    padding-right: 10px;
}

.title-header-name {
    font-size: 24px;
}

.title-header {
    font-size: 18px;
}

.menu-toggle {
    margin-right: 20px;
}

.dropstart > .dropdown-menu[data-bs-popper] {
    margin-right: 20px;
    background-color: #021630;
    border: 1px solid #FFF;
}

.dropstart > .dropdown-menu[data-bs-popper] a {
    color: #FFF;
}

.dropstart > .dropdown-menu[data-bs-popper] a:hover {
    color: #FFF;
    background-color: #da5d13;
}

/* frontpage */
.top-element {
    background-image: url("./assets/MGmeeting2.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 80vh;
    min-height: 600px;
    max-width: 100%;
    margin:0;
    position: relative;
}

.fond {
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    right: 0;
    top: 0;
    width: 30%;
    min-height: 300px;
    height: 100%;
    border-right: solid #FFF 50px;
    box-shadow: -200px 0 50px white;
}

.contact-info {
    position: absolute;
    right: 0;
    top: 0;
    width: 60%;
    min-height: 300px;
    height: 100%;
    /* margin: 150px 30px 0; */
    padding: 150px 150px 0;
    font-size: 18px;
    font-weight: bold;
    background-color: rgba(2, 22, 48, 0.7);
}

.contact-info h4 {
    font-weight: bold;
}

.fa-whatsapp {
    width: 18px;
}

.button-section-container {
    margin: 100px 5% 0;
    top: 50%;
    position: relative;
    display: flex;
}

.section-button {
    background-color:#021630;
    border-top: 3px solid #da5d13;
    border-radius: 3px;
    min-width: 300px;
    max-width: 300px;
    height: 100px;
    margin: auto;
}

.section-button h4 {
    text-align: center;
    margin: 38px 0;
    font-weight: bold;
    line-height: 22px;
}

.section-button .two-liner {
    margin: 29px 0;
}

/* part certif  */
.certifications {
    background-color: darkgray;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    max-width: 100%;
    min-height: 100px;
    padding: 10px 0;
    position: relative;
    text-align: center;
    z-index: 2;
}

.certifications > div {
    max-width: 480px;
    margin: 0 auto;
}

.certif-text {
    text-align: center;
    margin: 26px 0;
}

.certif-icon {
    float: left;
    max-height: 80px;
}

.cert-details {
    margin: 0;
}

.two-lines {
    margin: 11px 0;
}
/* part video */

.who-am-i {
    text-align: center;
    /* padding-bottom: 10px; */
}

.portrait {
    max-width: 100%;
}

.video-section {
    min-height: 520px;
    padding: 30px 0;
    margin: 0;
    max-width: 100%;
}

.video-mg-pres {
    margin: 20px 11%;
    height: 480px;
    width:854px;
    background-color: #000;
}

.video-left {
    background-color: #021630;
}

.video-left, .other-desc {
    padding: 50px;
    font-size: 18px;
    margin: 0;
}

.video-right {
    margin: 0;
}

/* part reviews */

.customer-reviews {
    background-color: #021630;
    border-top: 3px solid #da5d13;
    text-align: center;
    position: relative;
    margin-top: 10px;
    max-width: 100%;
    margin: 0;
}

.customer-review-container {
    padding: 10px 40px;
    max-height: 100%;
}

.review-author, .review-source {
    max-width: 100%;
    display: inline-block;
    padding: 5px 0 0;
}

.review-content {
    max-width: 100%;
    position: relative;
    display: inline-block;
    padding: 0 5px;
    margin: 15px 0;
}

/* Ellipsis with quotes */
.review-content > a {
    position: relative;
    max-width: 240px;
	max-height: 168px;
	overflow: hidden;
	-webkit-box-orient: vertical;
	display: -webkit-box;
	-webkit-line-clamp: 7;
	text-overflow: ellipsis;
    font-style: italic
}
/* end of quotes */

.review-author {
    font-size: 16px;
}

.review-source {
    padding-bottom: 15px;
}

/* partie CGP */

.video-embed-cgp, .video-embed-courting {
    margin: 20px auto;
    height: 405px;
    width:720px;
    background-color: #000;
}

.video-embed-cgp {
    margin-left: 120px;
}

.CGP-mission-text {
    text-align: justify;
    padding: 20px 40px;
}
.CGP-list {
    padding-left: 20px;
    list-style-type: "+";
}

.CGP-list > li {
    padding-left: 5px;
}

.CGP-list > li::marker {
    color: #da5d13;
    font-weight: bolder;
}

.CGP-keywords {
    padding: 0 30px 30px;
    background-color: rgba(255, 255, 255, 0.4);
    font-weight: bold;
}

.keyword-1 {
    padding-left: 10px;
    padding-top: 50px;
}

.keyword-2 {
    padding-right: 20px;
    padding-top: 30px;
    text-align: right;
}

.keyword-3 {
    padding: 25px;
    text-align: center;
}

.keyword-4 {
    padding-top: 20px;
    padding-right: 40px;
    text-align: right;
}

.keyword-5 {
    padding-left: 40px;
}

.CGP-desc-2 > div {
    display: flex;
}

.illu-CGP {
    max-height: 400px;
    max-width: 100%;
    border-radius: 2px;
    margin: 20px auto 0;
}

/* Courtage */

.video-embed-courting {
    margin: auto 11%;
}

.illu-courtage-cont {
    padding-left: 0;
}

.illu-courtage {
    max-height: 150px;
    margin: 0 auto;
    max-width: 100%;
}

/* others  */
.other-desc {
    background-color: #021630;
}

.other-section {
    min-height: 500px;
    padding: 50px 0;
    max-width: 100%;
}

.exp-section-content {
    padding: 20px;
    padding-left: 0;
}

.why-sidetext {
    font-size: 28px;
    padding: 40px;
    text-align: center;
}

.stats-container {
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.4);
    font-weight: bold;
}

.stats-title {
    font-weight: bold;
    font-size: 24px;
    padding: 50px 0 10px;
}

.foot-stats {
    font-size: 14px;
    margin: 40px 0 0;
    font-weight: normal;
}

.desc-problem {
    text-align: center;
    align-items: center;
}

.desc-problem .o-text {
    font-size: 24px;
    padding-bottom: 10px;
}

.problem-soluce {
    padding-top: 10px;
    font-size: 24px;
    font-weight: bold;
}

.service-display {
    text-align: center;
    align-items: center;
    margin: 40px auto;
}

.service-display > div {
    padding: 0 30px;
}

.service-title {
    text-align: left;
    font-size: 24px;
}

.product-list {
    padding: 40px 20px 40px 140px;
    font-size: 28px;
}

.footer {
    background-color: #021630;
    width: 100%;
    padding: 20px;
    position: relative;
    margin-left: 0;
    margin-right: 0;
}

.legal-info-link {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.contact-list li {
    padding-top: 10px;
}

.legal-info {
    color:#000;
}

/* LG+ size */
@media (min-width: 1024px) {
    .video-embed {
        width: 720px;
        margin: 20px 5%;
        max-width: 90%;
    }
}

/* XL+ size */
@media (min-width: 1200px) {
    .illu-CGP {
        margin: auto;
    }

    .contact-info {
        width: 50%;
    }

    .fond {
        box-shadow: -300px 25px 75px white;
    }

    .top-element {
        background-size: 85%;
    }
}

/* XXL+ size */
@media (min-width: 1400px) {
    .button-section-container {
        max-width: 74%;
        margin: 100px auto 0;
    }

    .top-element {
        background-size: 70%;
    }

    .contact-info {
        width: 40%;
    }

    .fond {
        box-shadow: -300px 50px 100px white;
    }

    #nav-list .nav-link {
        padding-right: 20px;
    }
}

/* media queries (to organise) */
@media (max-width: 1024px) {
    .fond {
        display: none;
    }

    .top-element {
        background-repeat: no-repeat;
        background-size: cover;
    }

    .contact-info {
        width: 60%;
        padding: 150px 20px 0;
    }

    .CGP-title {
        text-align: center;
    }

    .desc-problem .o-text {
        font-size: 18px;
    }

    .stats-container {
        padding-top: 0;
    }

    /* specific rule to reduce the space between scientia and the stats 
    & the courting text & video in mobile
    & the keywords & the CGP video */
    #section-coaching-1, #section-courtage-1, #section-CGP-1 {
        padding-bottom: 0;
    }
}

/* ipad */
@media (max-width: 1024px) and (min-width: 768px) {
    .video-embed {
        width: 720px;
        margin: 20px 5%;
        max-width: 90%;
    }

    .button-section-container {
        margin: 50px 0 0;
        min-height: 240px;
    }

    .customer-review-container {
        padding: 10px 0;
    }
}

/* tablet */
@media (max-width: 767px) and (min-width: 481px) {
    .video-embed {
        width: 720px;
        margin: 20px 23px;
        max-width: 90%;
    }

    .top-element {
        min-height: 700px;
    }

    .button-section-container {
        top: 40%;
        margin: 0;
    }

    .section-button {
        margin: 10px auto;
    }
    
    .contact-info {
        width: 100%;
    }

    .title-header {
        display: block;
        font-size: 16px;
    }

    .title-header-name {
        font-size: 18px;
    }    

    .certifications {
        font-size: 16px;
        padding: 0;
    }

    .certifications > div {
        max-height: 70px;
    }

    .certif-icon {
        max-height: 50px;
        margin-top: 10px;
    }

    .customer-review-container {
        padding: 10px 0;
    }

    .review-content {
        margin: 15px 0 0;
    }
}

/* phone */
@media (max-width: 480px) {
    .video-embed {
        width: 460px;
        margin: 20px 10px;
        max-width: 95%;
    }

    .top-element {
        min-height: 700px;
    }

    .button-section-container {
        top: 40%;
        margin: 0;
    }

    .section-button {
        margin: 10px auto;
    }

    .contact-info {
        width: 100%;
    }

    .navbar-title {
        padding: 0 10px;
    }

    .title-header {
        display: block;
        font-size: 13px;
        line-height: 20px;
        padding-bottom: 5px;
    }

    .title-header-name {
        font-size: 16px;
    }    

    .dropdown > .menu-toggle {
        position: fixed;
        right: 10px;
        top: 20px;
    }

    .certifications {
        font-size: 16px;
        padding: 0;
    }

    .certifications > div {
        max-height: 70px;
    }

    .certif-icon {
        max-height: 50px;
        margin-top: 10px;
    }

    .customer-review-container {
        padding: 10px 0;
    }

    .review-content {
        margin: 15px 0 0;
    }
}

